Equipe5/Client/Connected Services/WebServico/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55231/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
  <xs:element name="GetFilme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetFilmeResult" nillable="true" type="q1:Filme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilmes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilmesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="ListFilmesResult" nillable="true" type="q2:ArrayOfFilme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="filme" nillable="true" type="q3:Filme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFilmeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFilme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFilmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFilmeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptFilme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="filme" nillable="true" type="q4:Filme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptFilmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UptFilmeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlataforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlataformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetPlataformaResult" nillable="true" type="q5:Plataforma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlataforma">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlataformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="ListPlataformaResult" nillable="true" type="q6:ArrayOfPlataforma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlataforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="plataforma" nillable="true" type="q7:Plataforma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlataformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlataformaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPlataforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPlataformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelPlataformaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptPlataforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="plataforma" nillable="true" type="q8:Plataforma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptPlataformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UptPlataformaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>